<h1>Step 1: Choose your Model and Color</h1>

<div class="row">
  <div class="form-group">
    <label>Model:</label>
    <select id="modelSelect" class="form-control" [(ngModel)]="selectedModel" (change)="carModelChange()">
        <option value="">Choose Model:</option>
        @for (cardModel of modelsData; track cardModel.code) {
          <option [value]="cardModel.code"> {{ cardModel.description }} </option>
        }
    </select>
  </div>

  <div *ngIf="selectedModel">
    <div class="form-group">
      <label>Color:</label>
      <select id="colorSelect" class="form-control" [(ngModel)]="selectedColor" (change)="carColorChange()">
        @for (color of colorsData; track color.code) {
          <option [value]="color.code"> {{ color.description }} </option>
        }
      </select>
    </div>
  </div>
</div>


@if(selectedModel !== '' && selectedColor !== ''){
  <div class="image-container">
    <img [src]="imageURlPath+selectedModel+'/'+selectedColor+'.jpg'" width="750px" height="750px"/>
  </div>
}
